

<div id="folien_slide" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Slides</h3>
  </div>

  <div class="panel-body">
    <div id="reveal-parent"> <!--class="jumbotron"-->
      <div class="reveal">
        <div class="slides">

        </div>
      </div>
    </div>
  </div>
</div>

<div id="folien_notiz" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Notizen</h3>
  </div>
  <div class="panel-body">
    <div id="note-container">
      <div class="note">
        <div class="date">Jun 11th, 2015</div>
        Notiz!!!
      </div>
      <div class="note">
        <div class="date">Jun 12th, 2015</div>
        eine sehr lange Notiz. ljahdf kjadf akj kj jl dadsh hkv klag Notiz!!!.
        aljfeh kslfd klafg khdf ajkhf bKHf ksbfklxz cvkhfbkzv kxvb x. sdfhodf fha khfbk fgsf.
        snfba d fhjvb kvkbclkz fdkf cHDZcf dh CKC. dsfkjla khg fghfdhagf jkaeb dfcklcn szlkchsd hfgds cbks
      </div>
    </div>
    <div class="meineNotiz">
      <form action="" method="POST">
        <textarea placeholder="Erstellen Sie hier eine private Notiz zur Folie" style="width: 100%;" rows="5" name="notizText"></textarea>
        <input type="submit" value="Speichern" class="btn btn-success"/>
      </form>
    </div>
  </div>
</div>

<div id="folien_frage" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Fragen</h3>
  </div>
  <div class="panel-body">

    <div id="fragen-container">
      <div class="frage-antwort">
        <div class="frage">
          <div class="date">Jun 10th, 2015</div>
          Ist das so?
        </div>
        <div class="antworten">
          <div class="antwort">
            <div class="date">Jun 12th, 2015</div>
            Antwort abc...!
          </div>
          <div class="antwort">
            <div class="date">Jun 18th, 2015</div>
            Das stimmt!
          </div>
        </div>
        <div class="meineAntwort">
          <form action="" method="POST">
            <textarea placeholder="Geben Sie Ihre Antwort ein" style="width: 100%;" rows="2" name="antwortText"></textarea>
            <input type="submit" value="Speichern" class="btn btn-success"/>
          </form>
        </div>
      </div>
    </div>
    <div class="meineFrage">
      <form action="" method="POST">
        <textarea placeholder="Geben Sie Ihre Frage ein" style="width: 100%;" rows="5" name="frageText"></textarea>
        <input type="submit" value="Speichern" class="btn btn-success"/>
      </form>
    </div>
  </div>
</div>
