

<div id="folien_slide" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Slides</h3>
  </div>
  
  <div class="panel-body">
    <div id="impress-parent" class="jumbotron">
      <div id="impress" class="steps"></div>
    </div>
  </div>
</div>

<div id="folien_notiz" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Notizen</h3>
  </div>
  <div class="panel-body">
    Note</br>
    Note</br>
    Note</br>
    Note</br>
  </div>
</div>

<div id="folien_frage" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Fragen</h3>
  </div>
  <div class="panel-body">
    Fragen</br>
    Fragen</br>
    Fragen</br>
    Fragen</br>
  </div>
</div>
