
<div class="container">


<form action="/session/create" method="POST" class="form-signin">	
	<h2>Benutzer Login</h2>


	<input type="email" class="form-control" placeholder="Email address" name="email"/>
	<input type="password" class="form-control" placeholder="Password" name="password"/>
	<input type="submit" class="btn btn-lg btn-success btn-block" value="Anmelden"/>
	<!--input type="hidden" name="_csrf" value="<%= _csrf %>"/-->

</form>


</div>