

<div id="folien_slide" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Slides</h3>
  </div>

  <div class="panel-body">
    <div id="reveal-parent"> <!--class="jumbotron"-->
      <div class="reveal">
        <div class="slides">

        </div>
      </div>
    </div>
  </div>
</div>

<div id="folien_notiz" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Notizen</h3>
  </div>
  <div class="panel-body">
    <div id="note-container">
      <div id="notes">

      </div>
      
      <div id="meineNotiz">
        <form action="#" method="POST">
          <input type="hidden" name="user" value="">
          <input type="hidden" name="kurs" value="">
          <input type="hidden" name="satz" value="">
          <input type="hidden" name="indexh" value="">
          <input type="hidden" name="indexv" value="">
          <input type="hidden" name="file" value="">
          <textarea placeholder="Erstellen Sie hier eine private Notiz zur Folie" style="width: 100%;" rows="5" name="text"></textarea>
          <input id="saveNotizButton" type="button" value="Speichern" class="btn btn-success"/>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="folien_frage" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Fragen</h3>
  </div>
  <div class="panel-body">

    <div id="fragen-container">


      <!--div class="frage-antwort">
        <div class="frage">
          <div class="date">Jun 10th, 2015</div>
          Ist das so?
        </div>
        <div class="antworten">
          <div class="antwort">
            <div class="date">Jun 12th, 2015</div>
            Antwort abc...!
          </div>
          <div class="antwort">
            <div class="date">Jun 18th, 2015</div>
            Das stimmt!
          </div>
        </div>

        <div class="meineAntwort">
          <form action="" method="POST">
            <input type="hidden" name="user" value="">
            <input type="hidden" name="kurs" value="">
            <input type="hidden" name="satz" value="">
            <input type="hidden" name="indexh" value="">
            <input type="hidden" name="indexv" value="">
            <input type="hidden" name="file" value="">
            <textarea placeholder="Geben Sie Ihre Antwort ein" style="width: 100%;" rows="2" name="antwortText"></textarea>
            <input id="saveAntwortButton" type="button" value="Speichern" class="btn btn-success"/>
          </form>
        </div>

      </div-->


    </div>
    <div id="meineFrage">
      <form action="#" method="POST">
          <input type="hidden" name="user" value="">
          <input type="hidden" name="kurs" value="">
          <input type="hidden" name="satz" value="">
          <input type="hidden" name="indexh" value="">
          <input type="hidden" name="indexv" value="">
          <input type="hidden" name="file" value="">
          <textarea placeholder="Geben Sie Ihre Frage ein" style="width: 100%;" rows="5" name="frageText"></textarea>
          <input id="saveFrageButton" type="button" value="Speichern" class="btn btn-success"/>
      </form>
    </div>
  </div>
</div>
